header.header
    .header_column
        a(href=routes.home)
            i.fab.fa-youtube
    .header_Column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In